<div class="container-fluid">
    <div class="container-fluid pull-left">
        <h4>The basic structure of HTML is like this:</h4>
        <div class="code">
            &lthtml&gt
            <br>
                &ltbody&gt
                <br>
                Here goes all of your data!
                <br>
                &lt/body&gt
            <br>
            &lt/html&gt
        </div>
        <h4>All html pages start out with an html tag</h4>
        <h4 class="alert alert-warning">HTML is NOT case-sensitive</h4>
    </div>
    <div class="pull-right">
        <h3 >Try it out below!</h3>
        <button class="btn btn-default pull-right" style="margin-right:4.5em" ng-click="compile()">Check</button>
        <textarea class = "code white" data-role="none" style = "resize: none;overflow: invisible;  height: 35%" autofocus="autofocus" ng-model="html"></textarea>
        <h4 class="alert alert-danger" ng-if="error">You must at least attempt this!</h4>
    </div>
    <div>
        <br>
        <h1 style="text-align: center" class="code">Your Code will appear below</h1>
        <div id="container"></div>
    </div>
</div>