.code {
	background: #F5F5F5;
	color:#00E676;
	font-size: 18px;
	border-radius: 3px;
}

.white {
	color:#004D40;
}

#container {
	padding: 20px;
}

.div {
	padding: 20px;
}


.input {
	padding: 20px;
}